<% include ../partials/header %>

<div class="container list">
  <div class="row justify-content-around"> 
    <div class="col-10"> 
      <div class="text-center">
        <h1>Edit Number</h1>
        <p>
        <a class="btn btn-primary btn-lg btn-block" href="/inmemos">List Incoming Memos</a>
      </p>
      </div>
    </div> 
  </div>
</div>

<div class="container">
	<div class="row justify-content-around">
	<div class=col-10>
		<form action="/inmemos/<%= inmemo._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
			<div class=form-row>
				<div class="form-group col-6">
					<label>Number</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-telegram"></i></span>
						<input class="form-control form-control-md upper" type="text" name="inmemo[ltrNmbr]" value="<%= inmemo.ltrNmbr %>" required>
					</div>
				</div>
				<div class="form-group col-6">
					<label>Sender</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input class="form-control form-control-md case" type="text" name="inmemo[sender]" value="<%= inmemo.sender %>" required>
					</div>
				</div>
			</div>
			<div class=form-row>
				<div class="form-group col-4">
					<label>Recipient</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user-o"></i></span>
							<input class="form-control form-control-md case" type="text" name="inmemo[recipient]" value="<%= inmemo.recipient %>" required>
						</div>
				</div>
				<div class="form-group col-5">
					<label>Subject (Perihal)</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-clipboard"></i></span>
							<input class="form-control form-control-md case" type="text" name="inmemo[subject]" value="<%= inmemo.subject %>" required>
						</div>
				</div>
				<div class="form-group col-3">
					<label>Date (Tanggal Memo)</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input class="form-control form-control-md date" type="text" name="inmemo[date]" value="<%= inmemo.date %>" required>
						</div>
				</div>
			</div>
			<div class="form-inline mb-2 mt-2">
				<label for="inmemo[confidential]" class="mr-sm-2 mb-2">Confidential: </label>
          <select required name="inmemo[confidential]" class="custom-select mb-2 mr-sm-5">
            <% if (inmemo.confidential == "No" | inmemo.confidential == null) { %>
            <option name="inmemo[confidential]" value="No" selected>No</option>
            <option name="inmemo[confidential]" value="Yes">Yes</option>
            <% } else { %>
            <option name="inmemo[confidential]" value="No">No</option>
            <option name="inmemo[confidential]" value="Yes" selected>Yes</option>
            <% } %>
          </select>	
			</div>
			<div class="form-group" style="margin-right:70%;">
				<label>Archive Code:</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-archive"></i></span>
						<input class="form-control form-control-md upper" type="text" name="inmemo[archive]" data-toggle="tooltip" title="See The Code of Archive on Bindex." value="<%= inmemo.archive %>">
					</div>	
			</div>
				<div class="form-group">
					<label>Remark (Penjelasan)</label>
					<textarea class="form-control form-control-md case" rows="2" name="inmemo[remark]"><%= inmemo.remark %></textarea>
				</div>
        <div class="form-group">
          <label>Upload Documents (only upload a maximum of 3 pdf files): </label>
            <div class="input-group input-file customInputMargin" name="docs">
              <span class="input-group-btn">
                    <button class="btn btn-secondary btn-choose" type="button">Choose</button>
                </span>
                <input type="text" class="form-control" placeholder='Choose pdf file..' />
                <span class="input-group-btn">
                     <button class="btn btn-warning btn-reset" type="button">Reset</button>
                </span>
            </div>
            <div class="input-group input-file customInputMargin" name="docs">
              <span class="input-group-btn">
                    <button class="btn btn-secondary btn-choose" type="button">Choose</button>
                </span>
                <input type="text" class="form-control" placeholder='Choose pdf file..' />
                <span class="input-group-btn">
                     <button class="btn btn-warning btn-reset" type="button">Reset</button>
                </span>
            </div>
            <div class="input-group input-file customInputMargin" name="docs">
              <span class="input-group-btn">
                    <button class="btn btn-secondary btn-choose" type="button">Choose</button>
                </span>
                <input type="text" class="form-control" placeholder='Choose pdf file..' />
                <span class="input-group-btn">
                     <button class="btn btn-warning btn-reset" type="button">Reset</button>
                </span>
            </div>
          </div>
				<div class="form-group">
					<input class="form-control form-control-md" type="hidden" name="inmemo[user]" required value="<%= inmemo.user %>">
				</div>
				<div class="form-group">
					<input class="form-control form-control-md" type="hidden" name="inmemo[editor]" required value="<%= currentUser.fullname %>">
				</div>
					<input class="container-fluid btn btn-success btn-lg customSubmitMargin" type="submit">
			</form>
		</div>
	</div>
</div>

<% include ../partials/footer %>
<% include ../functions/innewfuncs %>
<% include ../functions/upload %>